<div class="contents row">
  <div class="container">
  <h1>グループを選んでください。</h1>
  <% current_user.groups.each do |group| %>
    <div class= "group">
      <div class = "group_name">
      <%= link_to  group.name, group_schedules_path(group) %></a>
      </div>
    </div> 
  <% end %>
          <div class="group-new">
            <%= link_to '新規グループ作成', new_group_path, class:"btn" %>
            <%= link_to 'グループに参加する', groups_path, method: :get, class:"btn" %>
        </div>
</div>
