// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar {
  .day {}

  .wday-0 {background-color: rgb(230, 176, 176);}
  .wday-1 {}
  .wday-2 {}
  
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {background-color: rgb(221, 203, 221);}

  .today {background-color: paleturquoise;}
  .past {background-color: gray;}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}